.calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    min-height: 100vh;
    background-color: #b3ace5;
    font-family: Arial;
}

.calculator,
.calculator * {
    box-sizing: border-box;
}

.calculator {
    background-color: #946fa6;
    border-radius: 10px;
    padding: 30px;
    box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.4);
    width: 380px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.calculator h2 {
    color: white;
    margin: 0;
    font-size: 32px;
    font-weight: bold;
}

.calc-input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    color: #555;
    text-align: right;
    margin-bottom: 10px;
}

.calc-input:focus {
    outline: none;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.op-btn {
    border: none;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    padding: 15px 0;
    width: 100%;
    height: auto;
    color: white;
    transition: transform 0.1s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.op-btn:active {
    transform: scale(0.95);
}

.num-7 {
    background-color: #8f92ec;
}

.num-8 {
    background-color: #8f92ec;
}

.num-9 {
    background-color: #8f92ec;
}

.num-4 {
    background-color: #8f92ec;
}

.num-5 {
    background-color: #8f92ec;
}

.num-6 {
    background-color: #8f92ec;
}

.num-1 {
    background-color: #8f92ec;
}

.num-2 {
    background-color: #8f92ec;
}

.num-3 {
    background-color: #8f92ec;
}

.num-0 {
    background-color: #8f92ec;
}


.add {
    background-color: #8f92ec;
    color: white;
}

.sub {
    background-color: #8f92ec;
    color: white;
}

.mul {
    background-color: #8f92ec;
    color: white;
}

.div {
    background-color: #8f92ec;
    color: white;
}



.clear {
    background-color: #8f92ec;
}

.equal {
    background-color: #8f92ec;
}

.result-input {
    background-color: #f8f9fa;
    color: #000;
}