body {
    background-color: #d89fc5;
    margin: 0;
    font-family: Arial;
}

h1 {
    text-align: center;
    padding: 40px;
    font-size: 30px;
    color: #280d87;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 60px;
    justify-items: center;
}

.task-btn {
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 15px;
    background: linear-gradient(to right, #950e78, #c569b7);
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
    color: white;
}

.task-btn:hover {
    transform: scale(1.05);
    background: linear-gradient(to right, #760404, #bd3737);
}

.section {
    margin-bottom: 60px;
}