.random-container {
    background-color: rgb(190, 205, 232);
}

.color-card {
    width: 600px;
    height: 300px;
    border-radius: 10px;
    transition: background-color 0.5s;
    background-color: #C1FCAD;
}

.random-btn {
    background-color: rgb(233, 234, 227);
    border-radius: 10px;
    cursor: pointer;
    border: none;
    width: 180px;
}

.random-btn:hover {
    background-color: aqua;
}